.commentInputWrapper {
    padding: 0 20px;
    position: relative;
}

.commentInput {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: all .3s;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid gray;
    outline: 0;
}

.commentInput:focus {
    border-bottom: 3px solid rgba(0,44,113,1);
}

.commentLabel {
    color: rgba(130,152,185,1);
    position: absolute;
    bottom: 5px;
    left: 30px;
    font-size: 16px;
    transition: all .3s;
}

.commentInput:focus ~ label, .dirty > label  {
    color: rgba(0,44,113,1);
    font-size: 12px;
    bottom: 30px;
}