.commentList {
    list-style-type: none;
    transition: .2s all;
    overflow-x: hidden;
    overflow-y: auto;
    height: 550px;
    padding: 0;
}

.commentListShown {
    display: block;
}

.commentListHidden {
    display: none;
}

.commentListContainer {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(172,172,172,0.5);
    padding: 20px 0;
}

.linkButton {
    padding: 0;
    text-decoration: underline;
    color: #FFA640;
    border: none;
    background-color: transparent;
    transition: all .2s;
    text-align: left;
    display: block;
    margin-left: 20px;
}

.linkButton:hover, .linkButton:focus {
    cursor: pointer;
    color: rgba(0,44,113,1);
    border: none;
}

.linkButton:active, .linkButton:focus {
    border: none;
    outline: 0;
}