.comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px 20px 20px;
}

@media (max-width: 480px) {
    .comment {
        padding: 10px 10px 10px;
        justify-content: space-evenly;
    }
}

.commentAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@media (max-width: 480px) {
    .commentAvatar {
        width: 40px;
        height: 40px;
    }
}

.commentAvatarPic {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    text-align: left;
    padding: 0 10px;
    width: 70%;
}

@media (max-width: 480px) {
    .commentContainer {
        width: 60%;
    }
}

.commentAuthor {
    text-align: left;
    font-size: 1rem;
    color: rgba(0,44,113,1);
    margin: 0;
}

.commentBody {
    text-align: left;
    font-size: 0.9rem;
    color: darkgray;
    margin: 0;
    width: 100%;
}

@media (max-width: 480px) {
    .commentBody {
        font-size: 0.8rem;
    }
}

.commentDate {
    text-align: right;
    font-size: 0.9rem;
    color: rgba(0,44,113,1);
    margin: 0;
}

@media (max-width: 480px) {
    .commentDate {
        font-size: 0.7rem;
    }
}
