.UserProfile {
    background-color: white;
    position: relative;
    z-index: 1;
    /* background: linear-gradient(to bottom, rgba(0,44,113,1) 1%,rgba(0,44,113,1) 49%,rgba(0,44,113,1) 49%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 49%,rgba(255,255,255,1) 100%); */
}

.UserProfile:before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: rgba(0,44,113,1);
    z-index: 0;
}

.UserProfileContainer {
    padding: 60px 20px 0;
    max-width: 600px;
    margin: 0 auto;
}