.userSummary {
    position: relative;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(172,172,172,0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    margin-bottom: 10px;
}

@media (max-width: 480px) {
    .userSummary {
        padding: 20px 10px 10px;
    }
}


.userContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: 0 0 20px 0;
}

@media (max-width: 480px) {
    .userContainer {
        flex-direction: column;
        margin: -70px 0 20px 0;
    }

    .userAvatar {
        padding: 0;
    }

    .userInfo .location {
        margin: 0 auto;
    }

    .followButton {
        width: 100%;
        margin: 20px 0;
    }
}


.shareUser {
    position: absolute;
    top: 5px;
    right: 5px;
    outline: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.shareCloseBtn {
    position: absolute;
    top: 1px;
    right: 20px;
    outline: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.shareUserIcon {
    height: 12px;
    width: 12px;
    fill: #FFA640;
}

.closeIcon {
    position: absolute;
    height: 20px;
    width: 20px;
    fill:  rgba(0,44,113,1);
}

.shareWindow {
    position: absolute;
    right: 0;
    top: 25px;
    background: white;
    border: 3px solid #FFA640;
    border-radius: 5px;
    padding: 10px;
    color:  rgba(0,44,113,1);
}

.shareInput {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    transition: all .3s;
    border-top: none;
    border-left: none;
    border-right: none;
    border: 1px solid rgba(0,44,113,1);
    outline: 0;
}

.shareInfoText {
    background-color: transparent;
    border: none;
    color: #FFA640;
    font-weight: 700;
    display: block;
    font-size: 0.7rem;
    margin: 0 0 5px;
    padding: 0;
    text-align: left;
    text-decoration: underline;
    transition: all .2s;
}

.shareInfoText:hover, .shareInfoText:focus {
    cursor: pointer;
    color: rgba(0,44,113,1);
    border: none;
}

.userAvatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0 20px 0 0;
}

.userAvatar > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

@media (max-width: 480px) {
    .userAvatar {
        padding: 0;
    }
}

.userInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.userName {
    color:  rgba(0,44,113,1);
    font-size: 1.4rem;
}

.userInfo .location {
    color: rgba(130,152,185,1);
    font-size: 0.9rem;
    line-height: 0.8;
}

.numbersContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

@media (max-width: 480px) {
    .numbersContainer {
        flex-direction: column;
    }
}

.numbersContainer .numbersList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    width: 60%;
}

.numbersContainer .numbersList .numbersItem {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 0 20px 0 20px;
    border-right: 2px solid rgba(217,217,217,0.5);
    width: 30%;
}

.numbersContainer .numbersList .numbersItem:last-of-type {
    border-right: none;
}

.numbersContainer .numbersList .numbersItem .numbersItemAmount {
    font-size: 1.5rem;
    color: #FFA640;
}

.numbersContainer .numbersList .numbersItem .numbersItemDescription {
    font-size: 0.8rem;
    color:rgba(217,217,217,1);
}

.followButton {
    background-color: #FFA640;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    color: white;
    min-width: 150px;
    transition: all .3s;
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    outline: 0;
}

.followButton:hover {
    background-color: rgba(0,44,113,1);
    cursor: pointer;
}

.likeButton {
    outline: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.heartIcon {
    height: 12px;
    width: 12px;
    fill:  rgba(217,217,217,1);
    color: rgba(217,217,217,1);
}

.numbersList {
    list-style-type: none;
}
